@model dynamic

@{
    ViewBag.Title = "Много книг";
    Layout = "_Layout";
}

<div class="align-content-center text-center">
    <h2 class="bg-danger">Вы привысили лимит книг</h2>
    <p class="text-center fs-3">@Model</p>
</div>
